<div class="row" custom-full-height="true">
    <div *ngFor="let link of links" class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <!--img src="{{link.value}}" class="roundedImage" /-->
                    </div>
                    <div class="col-sm-8">
                        <p class="text-right">
                             <a href="#/messages/writeto/{{link.id}}"> {{link.value}}</a> 
                           
                        </p>
                        <p class="text-right">
                            <span class="glyphicon glyphicon-star-empty"></span> 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
